.aboutus{
    margin-top: 60px;
}
.section {
    width: 100%;
    height: 55vh;
    background-color: #f9f4f6e6;
    position: relative;
    overflow: hidden;
    top: 20px;
}

.section>h1 {
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 60px;
    z-index: 15;
    font-family: 'Courier New', Courier, monospace;

}

.section_img_left {
    width: 100%;
    height: 130%;
    position: absolute;
    border-radius: 870px;
    right: -60%;
    top: -196px;
}

.section_img_rigth {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 350px;
    z-index: 0;
}



/* about */
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: relative;
}

.about_title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
}

.about_head {
    color: #c05d0d;
    font-family: sans-serif;
    letter-spacing: 4px;
}

.about_btn {
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 12px;
    background-color: #c05d0d;
    color: white;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.about_h3 {
    font-size: 32px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.about_img1 {
    position: absolute;
    bottom: -40px;
    right: 0;
}
@media only screen and (max-width:980px) {

    .section {
        height: 20vh;
        width: 100%;
    }

    .section_img_left {
        top: -30px;
        width: auto;
        left: 50%;
    }
    
    .about {
        flex-direction: column;
        height: auto;

    }

    .feature {
        height: auto;
    }


    .about_title {
        margin-bottom: 100px;
        width: 70%;
        margin-right: 200px;
    }

}

@media only screen and (max-width:780px) {

    .section {
        margin-top: 40px;
        height: 65vh;
    }

    .section_text {
        left: 0;
    }

    .section_title {
        font-size: 40px;
        font-weight: 900;
        width: 400px;
    }

    .section_img_rigth {
        display: none;
    }

    .section_paragraf {
        width: 370px;
        font-size: medium;
    }

    .about {
        flex-direction: column;
        height: auto;

    }

    .feature {
        height: auto;
    }

    .cards {
        height: auto;
    }

    .about_title {
        margin-bottom: 100px;
        margin-right: 0;
    }

    .about_img1 {
        display: none;
    }

    .about_img>img {
        width: 100%;
    }

    .footer_swiper_content>button {
        display: none;
    }

}